<h2>Credentials</h2>
<p><%= session[:version].capitalize %> requires that you provide client credentials. These values can be found on the ApiClients page.</p>
<div>
  <label for="client_id">Client Id</label>
  <input type="text" name="client_id" value="<%= session[:client_id] %>"/>
</div>
<div>
  <label for="client_secret">Client Secret</label>
  <input type="text" name="client_secret" value="<%= session[:client_secret] %>"/>
</div>