<% unless session[:error].nil? && session[:error] != '' %>
  <div class="message errors">
    <%= session[:error] %>
  </div>
<% end %>
<% unless @data.nil? %>
  <div class="message success">
    Success! See below for details of the response from the API.
  </div>
<% end %>
