<p>Note that you can use a User's email and API Token instead of the Client ID and Client Secret for V1.</p>
<div><input type="submit" name="fetch_templates" value="Fetch Templates"/></div>
<div><input type="submit" name="fetch_plans" value="Fetch Plans"/></div>
