<h3>Not on a User's behalf</h3>
<div><input type="submit" name="get+templates" value="Fetch Templates"/></div>
<div><input type="submit" name="get+plans" value="Fetch Plans"/></div>

<h3>On a User's behalf (OAuth)</h3>
<div><input type="submit" name="get+plans+oauth" value="Fetch Plans"/></div>