<h3>For an ApiClient (Not on a User's behalf)</h3>
<div><input type="submit" name="fetch_templates_for_client" value="Fetch Templates"/></div>
<div><input type="submit" name="fetch_plans_for_client" value="Fetch Plans"/></div>
<div><input type="submit" name="fetch_plan_for_client" value="Fetch Single Plan"/></div>
<div><input type="submit" name="fetch_pdf_for_client" value="Fetch Single Plan PDF"/></div>

<h3>For an ApiClient (On a User's behalf)</h3>
<div><input type="submit" name="fetch_plans_for_user" value="Fetch Plans"/></div>
<div><input type="submit" name="fetch_plan_for_user" value="Fetch Single Plan"/></div>
<div><input type="submit" name="fetch_pdf_for_user" value="Download Plan PDF"/></div>
<div><input type="submit" name="add_doi_for_user" value="Add a DOI to Plan"/></div>