<h3>Not on a User's behalf</h3>
<div><input type="submit" name="get+me" value="Fetch Info about ApiClient (me.json)"/></div>
<div><input type="submit" name="get+templates" value="Fetch Templates"/></div>
<div><input type="submit" name="get+plans" value="Fetch Plans"/></div>

<h3>On a User's behalf (OAuth)</h3>
<div><input type="submit" name="get+me+oauth" value="Fetch Info about User (me.json)"/></div>
<div><input type="submit" name="get+plans+oauth" value="Fetch Plans"/></div>
<div><input type="submit" name="get+plans/%{id}+oauth" value="Fetch Single Plan"/></div>
<div><input type="submit" name="get+plans/%{id}.pdf+oauth" value="Download Plan PDF"/></div>